.main-content {
  width: 80vw;
  margin: 20px auto;
}

.main-intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-intro .box {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-intro .box:last-child {
  margin-bottom: 1.5rem;
}

.main-intro .box img {
  height: 80%;
  object-fit: contain;
  margin-bottom: 10px;
}

#mapid {
  margin-bottom: 40px;
  height: 540px;
  width: 100%;
}

.margin-top-bottom-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-button--bottom {
  align-self: flex-end;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images-wrapper .image {
  margin-bottom: 10px;
}

.impression img {
  wgidth: 340px;
  height: 320px;
  object-fit: cover;
}

.image-preview img {
  width: 220px;
  height: 160px;
  object-fit: cover;
}

.packliste {
  display: flex;
}
