.margin-top-bottom-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-button--bottom {
  align-self: flex-end;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images-wrapper .image {
  margin-bottom: 10px;
}
